body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(gray, hsl(230, 100%, 10%));
}

#bigger {
  position: absolute;
  z-index: 2;
  max-height: 90vh;
  max-width: 90vw;
  width: 40vw;
  border: 1vw solid rgb(255, 255, 255, 0);
  transition: all 500ms;
}

#caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -15vh;
  z-index: 2;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: white;
  border: .2rem solid black;
  border-radius: .5rem;
  transition: all 500ms;
  cursor: default;
}

#caption > span {
  margin-top: .5rem;
  font-size: 1rem;
  text-align: center;
}

#leftArrow, #rightArrow {
  height: 10vw !important;
  width: 10vw !important;
  z-index: 1;
  transition: fill 500ms, transform 250ms;
  fill: white;
  filter: url("#shadow");
}

#leftArrow:hover, #rightArrow:hover {
  fill: hsl(50, 100%, 50%);
  transform: scale(.95, .95);
}

#leftArrow {

}

#rightArrow {

}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

#imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40vw;
  perspective: 25vw;
}

#imageDiv > img {
  position: absolute;
  max-height: 90vh;
  max-width: 40vw;
  filter: opacity(0);
  transition: transform 500ms, filter 500ms, position 500ms;
}
